@import url('file:///home/nima/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 6px;
    font-family: Jetbrains Mono,Vazirmatn, JetbrainsMono Nerd Font Mono, feather;
    /* font-family: waffle,Terminess Nerd Font Mono,Vazirmatn; */
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @color0_noalpha;
}
#workspaces {
    font-family: feather;
	background-color: @color0;
    border: 2px solid @color3;
	margin: 10px 5px 0px 10px;
    font-weight: bold;
}
window#waybar > * > *>*>*{
    min-height: 24px;
}
#workspaces button {
    padding: 0px 5px;
	border-radius: 3px;
    color: @color3;

    /* font-size: 18px; */
    background-color: transparent;
}

#workspaces button.active {
    background-color: @color3;
    color: @color0_noalpha;
}

#workspaces button:hover {
	background-color: @color3_alpha;
	color: @color0;
}
#window{
    background-color: @color1;
    padding: 5px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#submap{
    background-color: @color7;
    padding: 5px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#window.empty, #submap.empty, .empty{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
#cpu, #cava,#language, #custom-jdate ,#custom-date, #clock, #battery, #pulseaudio, #network, #window{
	padding: 5px 7px;
	margin-top: 10px;
    margin-right: 5px;
}


#tray {
    margin: 10px 10px 0px -5px;
    padding: 0px 7px;
}

#clock {
    border-color: @color7;
    background-color: @color7;
    margin-right: 10px;
    font-weight: bold;
}

#cpu{
    background-color: @color4;
}
#network{
  background-color: @color5;
}

#pulseaudio {
  background-color: @color6;
}
#language{
  background-color: @color7;
}
#pulseaudio.muted {
  background-color: @color7;
}
#custom-jdate {
  background-color: @color8;
}

#custom-playerctl{
	background-color: @color2;
	padding: 5px 7px;
  margin-top: 10px;
}
