@import url('file:///home/nima/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 5;
    font-family: JetbrainsMono Nerd Font Mono, feather, Noto Sans CJK;
    font-size: 12px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @color7;
}
#window{
    padding: 0px 5px;
	/* background-color: @color0; */
	margin-top: 10px;
	border-radius: 8px;
    /* border: solid 2px @color7; */
}
#workspaces {
    font-family: feather;
	background-color: @color0;
	margin: 10px 5px 0px 10px;
	border-radius: 8px;
    border: solid 2px @color7;
    font-weight: bold;
}
#workspaces button {
    padding: 0px 5px;
	border-radius: 5px;
    color: @color7;

    /* font-size: 18px; */
    background-color: transparent;
}

#workspaces button.active {
    color: @color0;
    background-color: @color7;
    border-radius: 5px;
}

#workspaces button:hover {
	background-color: @color4;
	color: @color0;
	border-radius: 5px;
}

#cava, #custom-jdate ,#custom-date, #clock, #battery, #pulseaudio, #network, #custom-randwall {
    background-color: @color0;
	padding: 5px 7px;
	margin: 10px 5px 0px 5px;
  border-radius: 8px;
  border: solid 2px @color7;
}
#cava{
    color: @color2
}
#custom-jdate{
	margin-left: 0px;
}
#custom-date {
	color: #D3869B;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#tray {
    background-color: @color0;
    margin: 10px 10px 0px -5px;
    border-radius: 8px;
    padding: 0px 7px;
    border: solid 2px @color7;
}

#clock {
    color: @color7;
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 0px;
    font-weight: bold;
}


#network {
    color: @color5;
    border-radius: 8px;
    margin-right: 5px;
}

#pulseaudio {
    color: @color6;
    border-radius: 8px;
    margin-left: 0px;
}

#pulseaudio.muted {
    background-color: @color0;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-randwall {
    color: #D3869B;
    border-radius: 8px;
    margin-right: 0px;
}

#custom-playerctl {
	background-color: @color0;
	padding-left: 10px;
  padding-right: 10px;
	border-radius: 8px;
  border: solid 2px @color7;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: bold;
}
